<h3>Acerca del bicimapa</h3>
<img src="icon.png" style="display:block; margin-left:auto; margin-right:auto"/>
<p>El bicimapa: <a href="www.bicimapa.com">www.bicimapa.com</a><br/>
Gracías a la gran rodada por su registro de eventos</p>
<a href="http://www.twitter.com/bicimapa" class="btn btn-default btn-block"><i class="fa fa-twitter"></i> Síguenos en Twitter</a>
<a href="http://www.facebook.com/bicimapa" class="btn btn-default btn-block"><i class="fa fa-facebook"></i> Dale me gusta en Facebook</a>
