<p>Entrar los datos de la bicicleta</p>

<img style="max-width: 50%" src="" id="photo" />

<form role="form">
	<div class="form-group">
		<label for="description">Descripción:</label>
		<input type="text" class="form-control" id="description" placeholder="Descripción" ng-model="description"/>
	</div>
</form>

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="choose_photo()">Escoger foto</button>
<button type="button" class="btn btn-success btn-lg btn-block" ng-click="save()">Agregar</button>
