<p>Bienvenido {{greeter}}</p>

<a href="#/BiciRevision" class="btn btn-default btn-lg btn-block">BiciRevision</a> <br/>
<a href="#/BiciSegura" class="btn btn-default btn-lg btn-block">BiciSegura</a> <br/>
<a href="#/BiciMapa" class="btn btn-default btn-lg btn-block">BiciMapa</a> <br/>
<a href="#/BiciEventos" class="btn btn-default btn-lg btn-block">BiciEventos</a> <br/>
<a href="tel:{{emergency_contact}}" class="btn btn-lg btn-default btn-block">LLamar contacto de emergencia</a><br />
<a href="#/Lockscreen" class="btn btn-default btn-lg btn-block">Lockscreen</a>
